/* add your custom styles here */

.tabs-section .tab-body {
	padding:0 20px;
}
.sosials {
	margin:20px 0;
}
.team .person {
	width:33.33333%;
	float:left;
	padding:0 15px;
}
.team .photo {
	margin-left:0px;
}
.small-preview .preview {
	width:33.3333%;
	float:left;
}
.contact-bg{
	padding:55px 110px 30px;
}
.tabs-section .tabs {
	bottom:317px;
}
.left-column {
	width:40%;
	padding-right:30px;
}