/* add your custom styles here */
.left-column {
	width:27.08333333333333%; /* 260 / 960 */
}
.header {
	padding:10px 20px 0;
}
.header .logo {
	float:left;
	margin-right:45px;
	text-align: left;
}
.header-mobile {
	text-align: left;
}
.header .main-nav .mobile {
	float:left;
	text-align: left;
}


.tabs-section .tabs span {
	margin:0 0 20px 20px;
	bottom:0;
}
.tabs-section .options {
	margin:0 auto;
}
.cro-section .inn {
	height:243px;
}
.city-map-section .city-map-container {
	width:300px;
}
.city-map-section .city-map-container:first-child {
	width: 350px;
}
.contact-persons .person {
	float:left;
	margin:0 0 20px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
	float: left;
}

.col-1 {
	width: 8.333333333333332%; /* 80 / 960 */
}

.col-2 {
	width: 16.666666666666664%; /* 160 / 960 */
}

.col-3 {
	width: 25%; /* 240 / 960 */
}

.col-4 {
	width: 33.33333333333333%; /* 320 / 960 */
}

.col-5 {
	width: 41.66666666666667%; /* 400 / 960 */
}

.col-6 {
	width: 50%; /* 480 / 960 */
}

.col-7 {
	width: 58.333333333333336%; /* 560 / 960 */
}

.col-8 {
	width: 66.66666666666666%; /* 640 / 960 */
}

.col-9 {
	width: 75%; /* 720 / 960 */
}

.col-10 {
	width: 83.33333333333334%; /* 800 / 960 */
}

.col-11 {
	width: 91.66666666666666%; /* 880 / 960 */
}

.col-12 {
	width: 100%; /* 960 / 960 */
}
.pr40 {
	padding-right:40px;
}

.pr55 {
	padding-right: 55px;
}
.t-right {
	text-align:right;
}
.big-preview .preview {
	width:50%;
	float:left;
}
 .calculate-price .btn-orange:before {
	display:block;
}
 .tabs-section {
	padding-bottom:240px;
	margin:0 0 40px;
}
.tabs-section .tabs {
	width:auto;
	bottom:0;
}
.main .tabs-section .tabs span {
	width:140px;
	height:78px;
	text-indent: 0;
	font-size: 12px;
}
.main .tabs-section .tabs span:first-child {
	width:300px;
}
.tabs-section .tabs span{
	padding:10px 15px;
	border-radius:10px;
	float:left;
	display:block;
	line-height: 18px;
}
.tabs-section .tabs span.active:before {
	content:"";
	width:16px;
	height:32px;
	position: absolute;
	top:-23px;
	left:0;
}
.tabs-section .picture {
	display:block;
}
.mb35 {
	overflow: visible;
	height: auto;
}
.air-balls input[type="submit"],
.btn-orange,
.contact-form input[type="submit"]{
	line-height: 50px;
	height: 55px;
}
.cro-section .inn {
	background: url(../img/progress.jpg) no-repeat 100% 100% ;
}