/* add your custom styles here */
.left-column {
	width:27.08333333333333%; /* 260 / 960 */
}
.header {
	padding:10px 20px 0;
}
.header .logo {
	float:left;
	margin-right:45px;
	text-align: left;
}
.header-mobile {
	text-align: left;
}
.header .main-nav .mobile {
	float:left;
	text-align: left;
}


.tabs-section .tabs span {
	margin:0 0 20px 20px;
	bottom:0;
}
.tabs-section .options {
	margin:0 auto;
}
.cro-section .inn {
	height:243px;
}
.city-map-section .city-map-container {
	width:300px;
}
.city-map-section .city-map-container:first-child {
	width: 350px;
}






.big-preview .preview {
	width:50%;
	float:left;
}
 .calculate-price .btn-orange:before {
	display:block;
}
 .tabs-section {
	padding-bottom:240px;
	margin:0 0 40px;
}
.tabs-section .tabs {
	width:auto;
	bottom:0;
}
.main .tabs-section .tabs span {
	width:140px;
	height:78px;
	text-indent: 0;
	font-size: 12px;
}
.main .tabs-section .tabs span:first-child {
	width:300px;
}
.tabs-section .tabs span{
	padding:10px 15px;
	border-radius:10px;
	float:left;
	display:block;
	line-height: 18px;
}
.tabs-section .tabs span.active:before {
	content:"";
	width:16px;
	height:32px;
	position: absolute;
	top:-23px;
	left:0;
}
.tabs-section .picture {
	display:block;
}
.mb35 {
	overflow: visible;
	height: auto;
}
.air-balls input[type="submit"],
.btn-orange,
.contact-form input[type="submit"]{
	line-height: 50px;
	height: 55px;
}
.cro-section .inn {
	background: url(../img/progress.jpg) no-repeat 100% 100% ;
}

.estimate-page .left-side,
.estimate-page .right-side {
	width: 470px;
}
.estimate-page ul.input-list label {
	float:left;
	padding-bottom: 0px;
}
.estimate-page .checkbox-list {
	padding-bottom: 0;
}
.estimate-page .checkbox-list li label {
	width: 185px;
}
.free-calculate .btn-orange:before,
.calculate-price .btn-orange:before,
.estimate-page .right-side .btn-orange:before {
	display: block;
}
.w215.left {
	float:left;
}