/* line 146, icons/*.png */
.icons-sprite, .icons-arrow-to-left, .icons-arrow-to-right, .icons-bullet-blue, .icons-bullet-gray, .icons-bullet-squre-green, .icons-bullet-squre, .icons-corner-top, .icons-fb, .icons-footer-logo, .icons-learn-more, .icons-qr, .icons-shadow-left, .icons-tw, .icons-vk, .header .main-nav a:hover .icon,
.header .main-nav a:focus .icon,
.header .main-nav a.active .icon, .header .tel:before, ul.bullet-squre li:before, ul.bullet-squre li.active:before, .tabs-section .tabs a.active:before {
  background: url('../img/icons.png') no-repeat;
}

/* line 60, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-arrow-to-left {
  background-position: 0 -375px;
  height: 13px;
  width: 40px;
}

/* line 60, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-arrow-to-right {
  background-position: 0 -323px;
  height: 20px;
  width: 44px;
}

/* line 60, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-bullet-blue {
  background-position: 0 -429px;
  height: 9px;
  width: 9px;
}

/* line 60, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-bullet-gray {
  background-position: 0 -420px;
  height: 9px;
  width: 9px;
}

/* line 60, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-bullet-squre-green {
  background-position: 0 -343px;
  height: 16px;
  width: 18px;
}

/* line 60, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-bullet-squre {
  background-position: 0 -359px;
  height: 16px;
  width: 18px;
}

/* line 60, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-corner-top {
  background-position: 0 -388px;
  height: 32px;
  width: 16px;
}

/* line 60, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-fb {
  background-position: 0 -181px;
  height: 24px;
  width: 24px;
}

/* line 60, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-footer-logo {
  background-position: 0 -157px;
  height: 24px;
  width: 202px;
}

/* line 60, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-learn-more {
  background-position: 0 -96px;
  height: 37px;
  width: 96px;
}

/* line 60, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-qr {
  background-position: 0 0;
  height: 96px;
  width: 96px;
}

/* line 60, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-shadow-left {
  background-position: 0 -227px;
  height: 96px;
  width: 29px;
}

/* line 60, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-tw {
  background-position: 0 -133px;
  height: 24px;
  width: 24px;
}

/* line 60, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-vk {
  background-position: 0 -205px;
  height: 22px;
  width: 22px;
}

/* line 8, ../sass/sprite.scss */
.header .main-nav a:hover .icon,
.header .main-nav a:focus .icon,
.header .main-nav a.active .icon {
  background-position: 0 -429px;
}

/* line 11, ../sass/sprite.scss */
.header .tel:before {
  background-position: 0 -96px;
}

/* line 14, ../sass/sprite.scss */
ul.bullet-squre li:before {
  background-position: 0 -359px;
}

/* line 17, ../sass/sprite.scss */
ul.bullet-squre li.active:before {
  background-position: 0 -343px;
}

/* line 20, ../sass/sprite.scss */
.tabs-section .tabs a.active:before {
  background-position: 0 -388px;
}
