/*========================
  Layout
  ========================*/
html,
body {
	min-height: 100%;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.main .wrapper {
	width:auto;
}
.wrapper {
	margin: 0 auto;
	position: relative;
	z-index: 1;
	/*padding:0 10px;*/
}

/*========================
  GRID
  ========================*/
.row:after {
	clear: both;
	display:table;
	content:"";
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12
{
	position: relative;
	min-height: 1px;
}



/*========================
  Typography
  ========================*/


.font {
	font-family: 'Roboto Condensed', 'Helvetica', 'arial', sans-serif;
	font-weight:300;
}
body {
	font-size: 12px;
	color: #000;
	font-family:'Helvetica', 'arial', sans-serif;
	line-height:18px;
	background: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1;
	margin-top:0;
	font-weight: normal;
	color:#000;
}

h1 {
	font-size:36px;  margin-bottom: 25px;
}
h2 {
	font-size: 24px; margin-bottom: 20px;
}
h3 {
	font-size: 18px; margin-bottom: 15px;
	color:#144a87;
}
h4 {
	font-size: 1.2em; margin-bottom: 1.25em;
}
h5 {
	font-size: 1em; font-weight: bold; margin-bottom: 1.5em;
}
h6 {
	font-size: 1em; font-weight: bold;
}

p {
	margin: 0 0 15px;
}
*+html .cf {
	zoom:1;
}
.cf:after {
	display:table;
	clear:both;
	content:"";
}
a {
	color:#0d507e;
	text-decoration:underline;
}
a:hover, a:focus {
	text-decoration:none;
}
ul, ol {
	margin: 0; padding-left: 0;
}

ul {
	list-style-type: none;
}
ol {
	list-style-type: decimal;
}
.nomargin {
	margin: 0 !important;
}

/* Correction Width */

.w50 {
	width: 50px;
}

.w100 {
	width: 100px;
}

.w150 {
	width: 150px;
}
.w190 {
	width:190px;
}
.w200 {
	width: 200px;
}

.w220 {
	width: 220px!important;
}
.w250 {
	width: 250px;
}
.w300 {
	width: 300px;
}

.w940 {
	max-width: 940px;
	margin: 0 auto;
}

/* + Correction margins + */
.m10 {
	margin: 10px 0;
}

.m15 {
	margin: 15px 0;
}

.m20 {
	margin: 20px 0;
}

.mr0 {
	margin-right: 0px !important;
}

.mr5 {
	margin-right: 5px;
}

.mr10 {
	margin-right: 10px;
}

.mr15 {
	margin-right: 15px;
}

.mr20 {
	margin-right: 20px;
}

.mr25 {
	margin-right: 25px;
}

.mr30 {
	margin-right: 30px;
}
.mr55 {
	margin-right:55px;
}
.mb0 {
	margin-bottom: 0 !important;
}

.mb5 {
	margin-bottom: 5px;
}

.mb10 {
	margin-bottom: 10px;
}

.mb15 {
	margin-bottom: 15px;
}

.mb20 {
	margin-bottom: 20px;
}

.mb25 {
	margin-bottom: 25px;
}

.mb30 {
	margin-bottom: 30px;
}
.mb35 {
	margin-bottom: 35px;
}
.mb40 {
	margin-bottom: 40px;
}

.mt0 {
	margin-top: 0 !important;
}

.mt5 {
	margin-top: 5px;
}

.mt8 {
	margin-top: 8px;
}

.mt10 {
	margin-top: 10px;
}

.mt12 {
	margin-top: 12px;
}

.mt15 {
	margin-top: 15px;
}

.mt20 {
	margin-top: 20px;
}

.mt25 {
	margin-top: 25px;
}

.mt30 {
	margin-top: 30px;
}

.mt35 {
	margin-top: 35px;
}

.mt40 {
	margin-top: 40px;
}
.mt50 {
	margin-top:50px;
}
.ml0 {
	margin-left: 0px !important;
}

.ml5 {
	margin-left: 5px;
}

.ml10 {
	margin-left: 10px;
}

.ml15 {
	margin-left: 15px;
}

.ml20 {
	margin-left: 20px;
}

.ml25 {
	margin-left: 25px;
}

.ml30 {
	margin-left: 30px;
}
.ml80 {
	margin-left:80px;
}
/* + Correction paddings + */
.pb0 {
	padding-bottom: 0 !important;
}

.pb5 {
	padding-bottom: 5px;
}

.pb10 {
	padding-bottom: 10px;
}

.pb15 {
	padding-bottom: 15px;
}

.pb20 {
	padding-bottom: 20px;
}

.pb25 {
	padding-bottom: 25px;
}

.pb30 {
	padding-bottom: 30px;
}

.pt0 {
	padding-top: 0 !important;
}

.pt5 {
	padding-top: 5px;
}

.pt10 {
	padding-top: 10px;
}

.pt15 {
	padding-top: 15px;
}

.pt20 {
	padding-top: 20px;
}

.pt25 {
	padding-top: 25px;
}

.pt30 {
	padding-top: 30px;
}
.pl20 {
	padding-left:20px;
}
.p20 {
	padding:20px;
}
.pr30 {
	padding-right:30px;
}

.pr60 {
	padding-right:60px;
}
.p50 {
	padding:0 50px 50px;
}
.relative {
	position: relative;
}

.left {
	float: left;
}

.right {
	float: right;
}

.hide {
	display:none!important;
}
.show {
	display:block!important;
}
.icons {
	display:inline-block;
}
.black {
	color:#000;
}
.white {
	color:#fff;
}
.bg-white {
	background-color:#fff;
}
.s11 {
	font-size:11px;
}
.s12 {
	font-size:12px;
}
.s13 {
	font-size:13px;
}
.s14 {
	font-size:14px;
}
.s16 {
	font-size:16px;
}
.s18 {
	font-size:18px;
}
.t-center {
	text-align:center;
}
.icon {
	display:inline-block;
	text-indent:-999em;
}
textarea  {
	resize:none;
}
.title1 {

}
.title2 {

}
.title3 {
	font-size: 18px;
	margin-bottom: 15px;
	color:#144a87;
	font-weight:normal;
}
/*===========================
 HEADER
 ============================*/
.header {
	padding-top:10px;
	margin-bottom:20px;
}
.header .logo {
	text-align:center;
}
.header .main-nav {
	/*padding:10px 0;*/
	text-align: center;
	position: relative;
	z-index: 10;
}
.header .main-nav > a,
.header .main-nav section > a {
	padding:10px 0;
}
.header .main-nav > section {
	position: relative;

}
.header .main-nav > section:first-child {
	margin-left:0;
}
.header .main-nav a {
	display:block;
	color:#4a4a4a;
	text-decoration: none;
	position: relative;
	font-size:14px;
}
.header .main-nav a:last-child i {
	display: none;
}
.header .main-nav section > a:first-child {
	margin-left:0;
}
.header .main-nav a:hover,
.header .main-nav a:focus,
.header .main-nav a.active{
	color:#000;
}
.header .main-nav > a.active {
	cursor: default;
}
.header .main-nav a .icon {
	position: relative;
	top:4px;
	margin-left:5px;
}

.header .main-nav > section nav {
	position: absolute;
	top:57px;
	left:50%;
	margin-left:-90px;
	width: 180px;
	border:1px solid #b8b8b8;
	background: #fff;
	display:none;
	box-shadow:0 3px 5px rgba(0,0,0, .5);
}
.header .main-nav > section > a:hover + nav,
.header .main-nav > section > a:focus + nav,
.header .main-nav > section nav:hover {
	display:block;
	z-index: 10;
}
.header .main-nav > section nav:before {
	position: absolute;
	top:-13px;
	z-index: 1;
	left:50%;
	margin-left:-10px;
	background: url(../img/menu-arrow.png);
	width: 20px;
	height:13px;
	content:"";
}

.header .main-nav > section nav a {
	display: block;
	height:40px;
	line-height:40px;
	padding:0 20px;
	border-top:1px solid #b8b8b8;
}
.header .main-nav > section nav a:hover,
.header .main-nav > section nav a:focus {
	color:#0092d8;
}
.header .main-nav > section nav a:first-child {
	border-top:0 ;
}
.header .contacts {
	width:280px;
	margin:0 auto 0px;
}
.header .feedback {
	border-right:1px solid #979797;
	padding-right:12px;
	margin-right:12px;
	height:53px;
	float:left;
	text-align: right;
}
.header .feedback a {
	display:block;
	color:#8b8b8b;
	text-decoration: none;
}
.header .feedback a:hover,
.header .feedback a:focus{
	color:#4480c3;
	text-decoration: underline;
}
.header .tel {
	float:left;
	position: relative;
}
.main .header .tel:before {
	display:blcok;
}
.header .tel:before {
	bottom: -45px;
	content: "";
	height: 37px;
	position: absolute;
	right: 0;
	width: 96px;
	display:none;
}
.header .tel a {
	font-weight:bold;
	color:#969c23;
	text-decoration: none;
	display: block;
	font-size:20px;
	line-height:24px;
}

/*===========================
 Footer
 ============================*/
.footer {
	padding:60px 20px;
	background: #2e2d2d;
	text-align: center;
}
.footer .row > div {
	margin:0 0 20px;
}
.footer .footer-nav {
	margin:0 0 40px;
}
.footer .footer-nav a {
	display:block;
	color:#fff;
	text-align: center;
	text-decoration: none;
	font-size:14px;
}
.footer .footer-nav a:first-child {
	margin-left:0;
}
.footer .footer-nav a.active,
.footer .footer-nav a:hover,
.footer .footer-nav a:focus{
	color:#29aeff;
}
.footer .copyright {
	color:#fff;
}
.footer .copyright p {
	margin:0;
}
.footer .copyright a {
	color:#0187c8;
}
.footer .tel {
	margin:0 0 3px;
}
.footer .tel a{
	display:block;
	line-height: 30px;
	color:#fff;
	font-size:22px;
	font-weight:bold;
	text-decoration: none;
}

.footer .col-4 p {
	margin:0;
	line-height:16px;
}
.footer .col-4 p a {
	color:#d0d0d0;
	text-decoration: none;
}
.footer .col-4 p a:hover,
.footer .col-4 p a:focus{
	text-decoration: underline;
}
.footer .col-4 p .support-link {
	color:#6da8ea;
}
/*===========================
 Body
 ============================*/
.main .wrapper .inn {
	margin:0 auto;
}
/*===========================
 Tabs
 ============================*/
.tabs-section {
	position: relative;
	padding-bottom:50px;
	margin:0 0 40px;
}
.tabs-section .tabs {
	position: absolute;
	bottom:0;
	left:0;
	z-index: 2;
	text-align:center;
	width:100%;
}
.main .tabs-section .tabs span {
	text-indent: -999em;
	cursor: pointer;
	text-align:left;
}
.tabs-section .tabs span{
	position: relative;
	display: inline-block;
	font-size:14px;
	line-height: 18px;

	margin:0 0 15px 15px;
	background: #eeeeee;
	color:#000;
	border-radius:30px;
	text-decoration: none;
	min-height: 10px;
	min-width: 17px;
}
.tabs-section .tabs span.active,
.tabs-section .tabs span:hover,
.tabs-section .tabs span:focus{
	background: #0092d8;
	color:#fff;
}
.tabs-section .tabs span.active {
	cursor: default;
}

.tabs-section .tab-body {
	display: none;
}
.tabs-section .tab-body:after {
	content:"";
	display:table;
	clear:both;
}
.tabs-section .tab-body.opened {
	display:block;
}
.tabs-section .discription {
	margin:0 auto 10px;
	text-align: center;
}
.tabs-section .discription ul {
	margin:0 auto 20px;
	width:300px;
	text-align:left;
}
.tabs-section .picture {
	margin:0 auto 20px;
	display:none;
}
.tabs-section .picture img{
	display:block;
	max-width: 100%;
	margin:0 auto;
}
.tabs-section .options {
	margin:0 auto;
	text-align:center;
}

.tabs-section .discription h1 {
	font-size:35px;
	line-height:32px;
	margin:0 0 15px;
	font-family: 'Roboto Condensed', 'Helvetica', 'arial', sans-serif;
	font-weight:300;
}
.tabs-section .discription h2 {
	line-height:26px;
	font-size: 24px;
	margin:0 0 22px;
	font-family: 'Roboto Condensed', 'Helvetica', 'arial', sans-serif;
	font-weight:300;
	color:#5d5d5d;
}
.tabs-section .discription h2 + .s16 {
	margin-top:-15px;
	margin-bottom:15px;
}

ul.bullet-squre li {
	position: relative;
	padding-left:30px;
	margin:0 0 11px;
}
ul.bullet-squre li:before {
	content:"";
	position: absolute;
	left:0;
	top:0;
	width:18px;
	height:16px;
}

.green-btn {
	background: #b9d712; /* Old browsers */
	background: -moz-linear-gradient(top,  #b9d712 0%, #89ad0c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b9d712), color-stop(100%,#89ad0c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b9d712 0%,#89ad0c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b9d712 0%,#89ad0c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b9d712 0%,#89ad0c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b9d712 0%,#89ad0c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9d712', endColorstr='#89ad0c',GradientType=0 ); /* IE6-9 */
	text-shadow:0 1px 1px rgba(113,119,19, .9);
	border:1px solid #899013;
	border-radius:10px;
	color:#fff;
	font-size:16px;
	padding:0 20px;
	line-height:40px;
	display:inline-block;
	height:40px;
	text-decoration: none;
}
.green-btn:hover,
.green-btn:focus {
	background: #89ad0c; /* Old browsers */
	background: -moz-linear-gradient(top,  #89ad0c 0%, #b9d712 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#89ad0c), color-stop(100%,#b9d712)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #89ad0c 0%,#b9d712 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #89ad0c 0%,#b9d712 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #89ad0c 0%,#b9d712 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #89ad0c 0%,#b9d712 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89ad0c', endColorstr='#b9d712',GradientType=0 ); /* IE6-9 */

}
.tabs-section .options h2 {
	font-size:24px;
	line-height:30px;
	margin:0 0 20px;
}
.gray-text {
	color:#676767;
}
.option-list {
	color:#000000;
	font-size:14px;
	margin:0 0 10px;
}
.option-list strong {
	color:#0092d8;
	display: block;
	font-size:24px;
	line-height:26px;
}
.sosials {
	margin:20px;
}
.sosials li {
	margin-left:7px;
	display: inline-block;
}
.sosials li:first-child {
	margin-left:0;
}
.clients-blcok {
	padding:0 20px;
}
.clients-list {
	margin:-10px -18px 30px;
}
.clients-list a,
.clients-list span{
	display: block;
	float:left;
	margin:0 14px;
}
.clients-list a img,
.clients-list span img{
	display: block;
}

.world-map {
	background: #0098b8;
	padding-top:45px;
	position: relative;
	z-index: 2;
}
.world-map:before {
	content:"";
	border:15px solid;
	border-color: #fff transparent transparent transparent;
	position: absolute;
	left:50%;
	margin-left:-15px;
	top:0;
}

.world-map .projects,
.world-map .watch-porfolio{
	text-align: center;
	color:#fff;
	margin: 0 0 5px;

}
.world-map .projects span:first-child {
	color:#fdd222;
	font-weight:bold;
	font-size:48px;
	line-height:48px;
}
.world-map .projects span {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 20px;

}
.world-map .watch-porfolio {
	padding-bottom:55px;
	background: url(../img/shadow.png) 50% 100% no-repeat;
	margin-bottom:0;
}
.world-map .watch-porfolio a {
	color:#fff;
	font-size: 24px;
}
.world-map .map {
	padding-top:40px;
	text-align: center;
}
.world-map .map img {
	max-width: 100%;
	display: block;
	margin:0 auto;
}
.air-balls {
	background: #06abc7;
	position: relative;
	z-index: 3;
	box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.2);
}
.air-balls .inn {
	padding:20px;
}
.air-balls h2 {
	color:#fff;
	font-size:24px;
	line-height:24px;
	margin-bottom:10px;
}
.main-form-section {

	position: relative;
	margin-bottom:15px;
}
.main-form-section .six-min {
	position: absolute;
	left:-60px;
	bottom:65px;
	display:none;
}
.main-form-section .six-min img {
	display: block;
}
.form-field:after {
	content:"";
	display:table;
	clear:both;
}
.form-field label {
	display:block;
}
.main-form-section .form-field {
	margin:0 0 4px;
}
.air-balls .main-form-section .form-field label {
	color:#fff;
}
.main-form-section .form-field label {
	width:100px;
	padding-right:10px;
	color:#000;
	padding:7px 0;
	font-size:13px;
	line-height:15px;
}
.main-form-section .form-field textarea {
	max-height:50px;
}
.main-form-section .form-field input,
.main-form-section .form-field textarea {
	width:100%;
	background: #fff;
	border:1px solid #c7c7c7;
	padding:2px 5px;
	font-size:11px;
	color:#acacac;
}
.air-balls .main-form-section .form-field input,
.air-balls .main-form-section .form-field textarea {
	background: #a5d7e4;
	border:1px solid #fff;
	color:#fff;
}
.main-form-section .form-field input:focus,
.main-form-section .form-field textarea:focus {
	color:#000;
	border-color:#77c2d6;
	background: #e9f4f9;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.air-balls .main-form-section .form-field input:focus,
.air-balls .main-form-section .form-field textarea:focus {
	color:#000;
	background: #cfe9f0;
	border-color:#fff;
}
.main-form-section .form-field input {

}
.air-balls .main-form-section-discription {
	color:#fff;
}
.air-balls .main-form-section-discription .s16 {
	font-weight:bold;
	margin:0 0 5px;
}
.main-form-section-discription {
	color:#000;
	text-align: center;
	line-height:24px;
}
.air-balls .main-form-section-discription a {
	color:#fff;
	text-decoration: none;
}
.air-balls .main-form-section-discription .main-office {
	border-bottom:1px solid #a5d7e4;
}
.main-form-section-discription .main-office {
	padding-bottom:13px;
	margin-bottom:18px;
}
.contact-form .main-form-section-discription .main-office p {
	color:#000;
}
.contact-form .main-form-section-discription a {
	color:#40afcc;
}
.contact-form .main-form-section-discription .main-office p.blue {
	color:#0092D8;
}
.main-form-section-submit {
	text-align: center;
	margin-top:10px;
}
.air-balls input[type="submit"],
.btn-orange,
.contact-form input[type="submit"]{
	position: relative;
	border-radius:10px;
	cursor: pointer;
	color:#fff;
	border:2px solid #fff;
	background: #fd7f1a; /* Old browsers */
	background: -moz-linear-gradient(top,  #fd7f1a 0%, #ec551e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fd7f1a), color-stop(100%,#ec551e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fd7f1a 0%,#ec551e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fd7f1a 0%,#ec551e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fd7f1a 0%,#ec551e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fd7f1a 0%,#ec551e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd7f1a', endColorstr='#ec551e',GradientType=0 ); /* IE6-9 */
	font-size:18px;
	text-shadow:0 1px 1px #c33e0d;
	padding:0 20px;
	line-height:50px;
	height:55px;
	display: inline-block;
	text-decoration: none;
	word-break: keep-all;
}
a.btn-orange {
	padding:0 40px;
}
.air-balls input[type="submit"]:hover,
.air-balls input[type="submit"]:focus,
.contact-form input[type="submit"]:hover,
.contact-form input[type="submit"]:focus,
.btn-orange:hover,
.btn-orange:focus{
	background: #ec551e; /* Old browsers */
	background: -moz-linear-gradient(top,  #ec551e 0%, #fd7f1a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ec551e), color-stop(100%,#fd7f1a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ec551e 0%,#fd7f1a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ec551e 0%,#fd7f1a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ec551e 0%,#fd7f1a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ec551e 0%,#fd7f1a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec551e', endColorstr='#fd7f1a',GradientType=0 ); /* IE6-9 */

}
.save-money {
	background: #16bbd9;
	color:#fff;
}
.save-money .inn {
	padding:20px 20px 140px;
	background: url(../img/money.jpg) no-repeat 97% 100%;
}
.save-money h2{
	font-size:32px;
	margin:0 0 10px;
	color:#fff;

}
.save-money p {
	font-size:24px;
	line-height:22px;
	font-family: 'Roboto Condensed','Helvetica','arial',sans-serif;
	font-weight: 300;
}
.responsive-section {
	background: #8fd8e1;
}
.responsive-section .inn {
	background: url("../img/mobiles.jpg") no-repeat scroll 14% 60% rgba(0, 0, 0, 0);
	padding:20px 20px 190px;
}
.responsive-section h2{
	font-size:32px;
	margin:0 0 5px;
	color:#08455d;
	font-family: 'Roboto Condensed','Helvetica','arial',sans-serif;
	font-weight: 300;
}
.responsive-section p {
	font-size:18px;
	color:#196b8b;
	font-family: 'Roboto Condensed','Helvetica','arial',sans-serif;
	font-weight: 300;
}
.cro-section {
	background: #d6e8ea;
}
.cro-section .inn {
	background: url(../img/progress.jpg) no-repeat 100% 100% ;
	-moz-background-size:contain ;
	-webkit-background-size:contain ;
	-o-background-size:contain ;
	background-size:contain ;
	padding:20px 20px 40px;
}
.cro-section h2 {
	font-size:16px;
	font-weight:normal;
	margin:0 0 5px;
	color:#000;
}
.cro-section p {
	font-size:15px;
	color:#000;
	font-weight: 300;
	font-family: 'Roboto Condensed','Helvetica','arial',sans-serif;
}
.free-calculate {
	background: #bfdb4f;
	position: relative;
}
.free-calculate:before {
	content:"";
	border:25px solid;
	border-color: #D6E8EA transparent transparent transparent;
	position: absolute;
	left:50%;
	margin-left: -25px;
	top:0;
}
.free-calculate .inn {
	padding:20px;
	text-align:center;
}
.free-calculate h2 {
	color:#013255;
	font-size:36px;
	margin:0 0 15px;
}
.free-calculate p {
	color:#628352;
}
.free-calculate .btn-orange {
	position: relative;
	min-width: 180px;
}
.free-calculate .btn-orange:before,
.calculate-price .btn-orange:before,
.estimate-page .right-side .btn-orange:before{
	content:"";
	height:31px;
	width:146px;
	background: url(../img/green-arrow-text.png) no-repeat;
	position: absolute;
	right:-155px;
	top:10px;
	z-index: 2;
}
.calculate-price .btn-orange:before {
	display:none;
}
.estimate-page .right-side p {
	line-height:24px;
}
.free-calculate .btn-orange:before {
	display: none;
}
.section-main-content {
	background: #fff;
}
.section-main-content .inn {
	background: #fff;
	top:30px;
	position: relative;
	padding-top:10px;

}
.section-main-content p {
	margin:0 0 25px;
	line-height: 24px;
	color:#8f8f8f;
}
.section-main-content .inn .left-column p {
	margin:0 0 15px;
}
.main .section-main-content .inn {
	padding:20px;
}
.gray-t {
	color:#8f8f8f;
}
.pl5 {
	padding-left:5px;
}
/*===========================
 Inner page
 ============================*/
.top-large-picture {
	/*max-width:1280px;*/
	margin:0 auto 10px;
	max-height: 300px;
	overflow:hidden;
	/*border-bottom:5px solid #0092d8;*/
}
.top-large-picture img {
	display:block;
	width:100%;
}
.left-column {
	width:40%;

	padding-right:30px;
	float:left;
}
.content-body {
	overflow:hidden;
	padding-right:20px;
}
.side-menu {
	background: #f5f5f5;
	padding:5px 0;
	margin-bottom:80px;
}
.side-menu a {
	display:block;
	padding:8px 15px;
	color:#585858;
	text-decoration: none;
	position: relative;
}
.side-menu a:hover,
.side-menu a.active{
	color:#fff;
	background: #0092d8;
}
.side-menu a:hover:before,
.side-menu a:focus:before,
.side-menu a.active:before{
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #0092D8;
	border-image: none;
	border-style: solid;
	border-width: 17px;
	content: "";
	margin-top: -16px;
	position: absolute;
	right: -34px;
	top: 50%;
}
.blue {
	color:#0092d8;
}
.section-main-content h3.blue {
	margin:0 0 5px;
}
.georaphy-img {
	margin:0 0 40px;
}
.georaphy-img img {
	width: 100%;
}
.city-map-section  {

}
.city-map-section .city-map-container {
	float:left;
}
.city-map-section .city-map-container:first-child {
	margin-right:20px;
}
.city-map-section .city-map-header {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background: #0094db;
	padding:7px 25px;
	font-weight:bold;
	line-height:18px;
	font-size:14px;
	color:#fff;
	margin-bottom:20px;
}
.city-map-section .city-map-container:first-child .city-map-header {
	background: #bac238;
}
.city-map-container ul {
	float:left;
	margin-left:25px;
	margin-bottom:20px;
	width: 90px;
}
.city-map-container ul li {
	font-size:11px;
	color:#000;
	line-height:12px;
	margin-bottom:3px;
}
.city-map-container ul li:first-child {
	font-weight:bold;
}
.city-map-container ul li,
.city-map-container ul li a {
	color:#000;
	text-decoration: none;
}
.team {
	margin:0 0 10px;
	text-align: center;
}
.team .person {

	margin:0 0 20px;

}
.team .photo {
	display:block;
	border-radius:200px;
	overflow: hidden;
	margin-bottom: 30px;
}
.team .photo img {
	width: 100%;
	display: block;
}
.team .name {
	margin:0 0 5px;
	font-size: 14px;
	color:#000;
}
.team .position {
	font-size:10px;
	font-style: italic;
	color:#0092d8;
	line-height: 12px;
}
.view-vacancy,
.view-portfolio {
	display:inline-block;
	font-weight: bold;
	font-size:12px;
	color:#fff;
	text-align:center;
	border-radius:5px;
	height:34px;
	line-height: 34px;
	text-decoration: none;
	display: block;
	max-width: 170px;
	overflow: hidden;
}
.view-portfolio {
	text-shadow:0 1px 1px #c33e0d;
}
.view-vacancy {
	background: #fd7f1a; /* Old browsers */
	background: -moz-linear-gradient(top,  #fd7f1a 0%, #ec551e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fd7f1a), color-stop(100%,#ec551e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fd7f1a 0%,#ec551e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fd7f1a 0%,#ec551e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fd7f1a 0%,#ec551e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fd7f1a 0%,#ec551e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd7f1a', endColorstr='#ec551e',GradientType=0 ); /* IE6-9 */
	margin-bottom:80px;
}
.view-vacancy:hover,
.view-vacancy:focus {
	background: #ec551e; /* Old browsers */
	background: -moz-linear-gradient(top,  #ec551e 0%, #fd7f1a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ec551e), color-stop(100%,#fd7f1a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ec551e 0%,#fd7f1a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ec551e 0%,#fd7f1a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ec551e 0%,#fd7f1a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ec551e 0%,#fd7f1a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec551e', endColorstr='#fd7f1a',GradientType=0 ); /* IE6-9 */

}
.view-portfolio {
	background: #0092d8; /* Old browsers */
	background: -moz-linear-gradient(top,  #0092d8 0%, #0070a5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0092d8), color-stop(100%,#0070a5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0092d8 0%,#0070a5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0092d8 0%,#0070a5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0092d8 0%,#0070a5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0092d8 0%,#0070a5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0092d8', endColorstr='#0070a5',GradientType=0 ); /* IE6-9 */

}
.view-portfolio:hover,
.view-portfolio:focus {
	background: #0070a5; /* Old browsers */
	background: -moz-linear-gradient(top,  #0070a5 0%, #0092d8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0070a5), color-stop(100%,#0092d8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0070a5 0%,#0092d8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0070a5 0%,#0092d8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0070a5 0%,#0092d8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0070a5 0%,#0092d8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0070a5', endColorstr='#0092d8',GradientType=0 ); /* IE6-9 */

}
.projects-background  {
	margin-top:30px!important;
}
.projects-background .number-portfolio {
	color: #0092D8;
	display: block;
	float: left;
	font-size: 48px;
	font-weight: bold;
	line-height: 33px;
	margin-right: 5px;
}
.projects-background .text {
	display: block;
	float: left;
	line-height: 14px;
	width: 80px;
}
.contact-bg{
	background: url(../img/contact-bg.jpg) no-repeat 50% 0;
	padding:55px 0 30px;
	margin:0 0 20px;
	position: relative;
	z-index: 2;
}
.contact-header {
	text-align: center;
	margin:0 0 30px;
	position: relative;
}

.contact-header h1 {
	margin-bottom: 5px;
	color:#4c4b4b;
}
.contact-header p {
	font-size:22px;
	color:#7e7e7e;
	line-height: 22px;
}
.calculate-price {
	text-align:center;
	font-size:14px;
	color:#7e7e7e;
	margin:0 0 40px;
}
.calculate-price h2 {
	font-size:24px;
	color:#013255;
	margin:0 0 15px;
}
.shd {
	background: url("../img/shd.png") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);
	text-align: center;
	padding:70px 0;
}
.shd .projects {
	margin:0 0 5px;
}
.shd .projects span:first-child {
    color: #0092d8;
    font-size: 48px;
    font-weight: bold;
    line-height: 48px;
}
.shd .projects span {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    vertical-align: top;
}
.shd a {
	font-size:24px;
	color:#0383c0;
}
.contact-form {
	color:#000;
}
.contact-persons {
	margin:0 0 50px;
}
.contact-persons .person {
	/*float:left;*/
	margin:0 auto 10px;
	width:320px;
	padding:0 20px;
}
.contact-persons .person:after {
	content:"";
	display: table;
	clear:both;
}
.contact-persons .photo {
	border-radius: 100px;
	overflow:hidden;
	display:block;
	float:left;
	margin-right:20px;
}
.contact-persons .photo img {
	display:block;
}
.contact-persons .info {
	overflow:hidden;
	font-size:14px;
	margin-top:10px;
}
.contact-persons .name {
	font-weight: bold;
	color:#000;
}
.contact-persons .position {
	color:#0092d8;
	font-style:italic;
	margin-bottom:10px;
}
.contact-persons .mail,
.contact-persons .mail a,
.contact-persons .tel,
.contact-persons .tel a {
	color:#8a9296;
	text-decoration: none;
}
.estimate-header {
	text-align:center;
	max-width: 940px;
	margin:50px auto;
}
.estimate-header h1{
	color: #4C4B4B;
	margin-bottom: 5px;
}
.estimate-header p {
	color: #7E7E7E;
	font-size: 22px;
	line-height: 26px;
}
.estimate-page {
	padding:50px 0;
	background: #f2f5f7;
	border-bottom:5px solid #d7d7d7;
	margin-bottom:20px;
}
.estimate-page .inn {
	margin:0 auto;
}
.estimate-page .left-side {
	width:470px;
	margin:0 auto;
}
.estimate-page .right-side {
	width:470px;
	padding-left:90px;
	margin:0 auto;
}
.estimate-page .blue {
	color:#013255;
}
.estimate-page h3.blue {
	margin:0 0 5px;
	font-weight:bold;
}
.estimate-page .label-form-field {
	display:inline-block;
	vertical-align: middle;
	width:150px;
}
.estimate-page input[type="text"],
.estimate-page input[type="email"],
.estimate-page input[type="tel"],
.estimate-page input[type="checkbox"],
.estimate-page select {
	height:35px;
	border:1px solid #c7c7c7;
	background: #fff;
	color:#000;
	font-size:13px;
	padding:8px 8px 8px 12px;
	width:100%;
}
.estimate-page input[type="text"]:focus,
.estimate-page input[type="email"]:focus,
.estimate-page input[type="tel"]:focus,
.estimate-page select:focus,
.estimate-textarea:focus{
	border-color:#77c2d6;
	background: #e9f4f9;
}
.estimate-page ul li {
	margin:0 0 15px;
}
.estimate-page ul.input-list label {
	width:150px;
	display:block;
	float:left;
	padding-top:10px;
}
.estimate-page .control-holder {
	overflow:hidden;
}
.estimate-page .control-holder select {
	width:100%;
}
.estimate-page .checkbox-list {
	border-bottom: 1px solid #bdbdbd;
	margin:0 0 40px;
}
.estimate-page .checkbox-list:last-child {
	border-bottom: none;
}
.estimate-page .checkbox-list li {
	padding-left:30px;
	margin-bottom:10px;
}
.estimate-page .checkbox-list li label {
	display:block;
	position: relative;
	padding-right:45px;
	width:185px;
	float:none;
	line-height:14px;
	color:#969696;
	font-style:italic;
	cursor: pointer;
}
.estimate-page .checkbox-list li label input {
	position: absolute;
	right:0;
	top:3px;
	height:auto;

}
.estimate-page .checkbox-list li:first-child {
	margin-bottom:15px;
}
.estimate-page .checkbox-list li:first-child label {
	font-size:18px;
	color:#000;
	font-style:normal;
}
.estimate-page .checkbox-list li:first-child i {
	left: -27px;
	position: absolute;
	top: 0px;
}
.estimate-page .checkbox-list li:first-child i.icons-design {
	 top:2px;
 }
.estimate-page .checkbox-list li:first-child i.icons-vertska {
	top:3px;
}
.estimate-page .checkbox-list li:first-child i.icons-search {
	top:2px;
}
.estimate-page .checkbox-list li label input {
	height: 20px;
	padding: 0 3px;
	position: absolute;
	right: 0;
	top: -1px;
	width: 30px;
	text-align: center;
}
.estimate-page .checkbox-list li label input[type="text"] {
	top:1px;
}
.estimate-page .about-projet {
	margin:0 0 30px;
}
.estimate-textarea {
	border:1px solid #c7c7c7;
	background: #fff;
	padding:10px;
	width:100%;

}
.estimate-page .right-side .btn-orange {
	position: relative;
}
.mb13.black {
	margin-bottom:13px!important;
	color:#000!important;
	line-height: 18px!important;
}
.line-height24 {
	line-height: 24px;
}
.tags {
	margin:0 0 30px;
}
.tags a{
	margin:0 7px 9px;
	display:block;
	float:left;
	border-radius:10px;
	background: #e4e4e6;
	padding:6px 12px;
	font-size:12px;
	line-height:12px;
	color:#7d6e6e;
	text-decoration: none;
}
.tags a:hover,
.tags a:focus,
.tags a.active {
	background: #0188ca;
	color:#fff;
}
.portfolio-page {
	max-width:960px;
	margin:40px auto 0;
}
.portfolio-header h1{
	font-family: 'Roboto Condensed','Helvetica','arial',sans-serif;
	padding:0 0 20px;
	border-bottom:1px solid #c6c6c6;
	margin-bottom:20px;
}
.portfolio-header h1 + p {
	margin:0 0 40px;
}
.portfolio-header p {
	font-size:18px;
	color:#7e7e7e;
	line-height:26px;
}
.big-preview,
.small-preview{
	/*margin:0 0 30px;*/
}
.big-preview:after,
.small-preview:after{
	content:"";
	clear:both;
	display:table;
}
.big-preview .preview {
	margin:0 0 20px;
	padding:10px;


}
.big-preview .screen-shot {
	/*height:200px;*/
}
.small-preview .preview {
	margin:0 0 20px;
	padding:10px;

}
.screen-shot {
	border:2px solid #a7a7a7;
	margin:0 0 20px;
}
.screen-shot img {
	display:block;
	width:100%;
	height:100%;
}
.site-name {
	color:#353535;
	font-size:18px;
	margin:0 0 5px;
	overflow:hidden;
	-moz-word-break: keep-all;
	word-break: keep-all;
	height:20px;
}
.site-link a{
	color:#0188ca;
	font-size:14px;
	overflow: hidden;
	word-break: keep-all;
	height:20px;
	display:block;
}
.main-preview {

}
.main-preview .site-name {
	color:#737070;
	font-size:28px;
	line-height: 30px;
	margin:0 0 10px;
	height: auto;
	font-family: 'Roboto Condensed','Helvetica','arial',sans-serif;
}
.main-preview p {
	font-size:20px;
	color:#7e7e7e;
}
.main-preview .site-link a{
	font-size:20px;
	font-weight:bold;
	color:#0188ca;
	margin:0 0 30px;
}
.main-preview .screen-shot {
	margin:0 0 30px;
}
.icons-qr {
	margin-top:7px;
}
@media only screen and (min-width: 1400px) {
	.contact-header:after {
		background: url("../img/ball-contact.jpg") no-repeat scroll 100% 0 rgba(0, 0, 0, 0);
		bottom: -300px;
		content: "";
		height: 319px;
		position: absolute;
		right: -170px;
		width: 270px;
		z-index: 1;
	}
}